.container_download_upload{
    z-index: 1;
    position: absolute;
    top: 31.5vh;
    left: 0;
    border: 1px solid #000;
    background-color: #fff;
    padding: 10px;   
    width: 20%;
}

.container_uploader{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.container_uploader input[type="file"]{
    color: #222245;
    padding: 8px 12px;
    background-color: #fff;
    border: 2px solid #222245;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.container_downloader{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.container_downloader li {
    display: flex;
flex-direction: row;
}

.container_downloader .svg{
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    align-self: center;
}

.container_downloader a{
    margin-top: 5px;
    margin-bottom: 5px;
}

.set_file_manager_close {
  position: absolute;
  top: 22px;
  left: 8px;
  border: 1px solid #9b9b9b;
  border-radius: 4px;
  padding: 2px;
  cursor: pointer;
  background-color: #d6d6d6;
}

.button_open_file_manager {
    position: absolute;
    top: 31.5vh;
    left: 0;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  }