.altColorText {
    color: var(--bleu-fonce); /* Définit la couleur du texte en bleu */
}

.rounded {
    border: 2px solid var(--bleu-fonce); /* Définit une bordure bleue de 2 pixels */
    border-radius: 50%; /* Définit le rayon de la bordure pour créer un cercle */
    max-width: unset;
}

.menu {
    display: flex;
    background-color: var(--bleu-clair); /* Définit la couleur de fond en bleu */
    height: 75vh;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    /* padding: 6vh 5vw 6vh 5vw; */
}

.menu h1 {
    color: var(--bleu-fonce); /* Définit la couleur du texte en bleu */
    font-size: xx-large;
    font-weight: bold;
    padding: 1vh 2vw 1vh 2vw;
    height: 10.83vh;
    align-content: center;
    width: 30vw;
    line-height: normal;
    cursor: pointer;
}

.menu h1:hover {
    color: var(--vert); /* Définit la couleur du texte en bleu clair lorsqu'il est survolé */
    background-color: white; /* Définit la couleur de fond en bleu foncé lorsqu'il est survolé */
}

.selectedCategory
{
    background-color: white; /* Définit la couleur de fond en bleu foncé lorsqu'il est survolé */
}

.list_sub_categories_and_titles{
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 4vw;
    padding-right: 4vw;
    background-color: white;
    height: 65vh;
    width: 65vw;
    column-count: 3;
    column-fill: auto;
}

.list_sub_categories_and_titles h2 {
    color: var(--bleu-fonce); /* Définit la couleur du texte en bleu */
    font-size: x-large;
    font-weight: bold;
    
}

.sub_categorie{
    padding: 1.5vh 0 1.5vh 0;
}

.list_sub_categories_and_titles h3 {
    color: var(--bleu-fonce); /* Définit la couleur du texte en bleu */
    font-size: large;
    padding: 0.5vh 0 0.5vh 1vw;
}