.altColorText {
    color: var(--bleu-fonce);
}

.rounded {
    border: 2px solid var(--bleu-fonce);
    border-radius: 50%;
    max-width: unset;
}

.menu {
    display: flex;
    background-color: var(--bleu-clair); 
    height: 75vh;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.menu h1 {
    font-size: xx-large;
    font-weight: bold;
    padding: 1vh 2vw 1vh 2vw;
    height: 10.83vh;
    align-content: center;
    width: 30vw;
    line-height: normal;
    cursor: pointer;
}

.menu h1:hover {
    color: var(--vert); 
    background-color: white; 
}

.selectedCategory
{
    color: var(--vert);
    background-color: white; 
}

.notSelectedCategory
{
    color: var(--bleu-fonce);
}

.list_sub_categories_and_titles{
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 4vw;
    padding-right: 4vw;
    background-color: white;
    height: 65vh;
    width: 65vw;
    column-count: 3;
    column-fill: auto;
}

.list_sub_categories_and_titles h2 {
    color: var(--bleu-fonce); 
    font-size: x-large;
    font-weight: bold;
    
}

.sub_categorie{
    padding: 1.5vh 0 1.5vh 0;
}

.list_sub_categories_and_titles h3 {
    color: var(--bleu-fonce);
    font-size: large;
    padding: 0.5vh 0 0.5vh 1vw;
}