.rounded {
    border: 2px solid var(--bleu-fonce); /* Définit une bordure bleue de 2 pixels */
    border-radius: 50%; /* Définit le rayon de la bordure pour créer un cercle */
    max-width: unset;
}

.softRounded {
    border: 2px solid var(--bleu-fonce); /* Définit une bordure bleue de 2 pixels */
    border-radius: 15px; /* Définit le rayon de la bordure pour créer un cercle */
    overflow: hidden; /* Masque tout ce qui dépasse de la bordure */
}

.altColorText {
    color: var(--bleu-fonce); /* Définit la couleur du texte en bleu */
}

/* .navBar{
    display: flex;
} */



.navBar {
    height: 8vh;
    display: flex;
    align-items: center; /* Alignement vertical des éléments */
    text-align: center;
    /* justify-content: space-between; */
    justify-content: center;
  }
  
  /* Optionnel : Pour aligner le texte au centre de l'image */
  .navBar div {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
  }

  .navBar a {
    align-content: center;
    height: auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
  }

  .navBar img {
    width: 32px;
    height: 32px;
  }
  
  /* Optionnel : Pour ajuster l'espace entre l'image et le texte */
  .navBar p {
    font-size: 90%;
    margin-inline-start: 5px;
  }

  .fastPath {
    background-color: var(--bleu-fonce);
    color: white;
  }
  
  .logIn {
    background-color: var(--vert);
    color: white;
    cursor: pointer;
  }

  .admin {
    background-color: #808080;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  }

  #editButton {
    border: 2px solid var(--bleu-fonce);
    border-radius: 40px;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    
  }

  
  .popupContent h2 {
    margin-top: 0; /* Supprime la marge supérieure par défaut */
  }
  
  .popupContent form {
    margin-bottom: 0; /* Supprime la marge inférieure par défaut */
  }
  
  .popupContent label {
    display: block;
    margin-bottom: 10px;
  }
  
  .popupContent input[type="text"] {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    align-content: center;
  }
  
  .card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    /*width: calc(50% - 20px); /* 4 cards per row, adjust as needed */
    width: 350px;
    height: fit-content;
    margin: 10px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  
  .popupContent {
    display: flex;
    flex-direction: column;
  }
  
  .container_buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  
 .popupContent button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .popupContent button:hover {
    background-color: #0056b3;
  }

  .announce {
    background-color: var(--vert);
    color: white;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
  }

  .popupContent .button_delete {
    background-color: red;
  }

  .popupContent .button_delete:hover {
    background-color: darkred;
  }

  #card_announce {
    width: 80%;
    margin: 0% 2% 0% 2%;
  }

  #close_interface{
    position: absolute;
    padding: 10px;
    cursor: pointer;
    z-index: 999999999999;
    left: calc(50% - 125px);
    bottom: 13%;
    width: 250px;
    background-color: white;
    color: black;
    font-weight: 900;
  }

  #close_interface:hover{
    transition: 0.3s;
    background-color: rgb(236, 236, 236);
  }

  @media screen and (max-width: 1354px) {
    .navBar a {
      height: 6vh;
    }
    .searchContainer {
      position: fixed;
      margin-top: 15vh;
      margin-right: 1vh;
      right: 0;
    }
  }

