.rounded {
    border: 2px solid var(--bleu-fonce); /* Définit une bordure bleue de 2 pixels */
    border-radius: 50%; /* Définit le rayon de la bordure pour créer un cercle */
    max-width: unset;

}

.softRounded {
    border: 2px solid var(--bleu-fonce); /* Définit une bordure bleue de 2 pixels */
    border-radius: 15px; /* Définit le rayon de la bordure pour créer un cercle */
    overflow: hidden; /* Masque tout ce qui dépasse de la bordure */
}

.altColorText {
    color: var(--bleu-fonce); /* Définit la couleur du texte en bleu */
}

/* .navBar{
    display: flex;
} */



.navBar {
    margin: 1vh;
    display: flex;
    align-items: center; /* Alignement vertical des éléments */
    text-align: center;
    /* justify-content: space-between; */
    justify-content: center;
  }
  
  /* Optionnel : Pour aligner le texte au centre de l'image */
  .navBar div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navBar a {
    align-content: center;
    height: 5vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
  }
  
  /* Optionnel : Pour ajuster l'espace entre l'image et le texte */
  .navBar p {
    font-size: 90%;
    margin-inline-start: 5px;
  }

  .fastPath {
    background-color: var(--bleu-fonce);
    color: white;
  }
  
  .logIn {
    background-color: #158B56;
    color: white;
  }
  
.searchContainer{
    cursor: pointer; /* Définit le curseur sur pointer */
    margin-left: 1vw;
}

  .searchContainer input{
    width: 90%;
  }

  @media screen and (max-width: 1354px) {
    .navBar a {
      height: 6vh;
    }
    .searchContainer {
      position: fixed;
      margin-top: 15vh;
      margin-right: 1vh;
      right: 0;
    }
  }
