.bar {
    margin-top: 1vh;
    /* width: 100%;
    height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bleu-fonce);
    color: white;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

.bar a {
    text-wrap: nowrap;
    font-size: large;
}

.bar h1 {
    font-style: italic;
    font-size: large;
}


.spaced{
    margin: 0.5vw;
}