.controls {
    display: flex;
    border: 1px solid #ccc;
    border-top: 0;
    padding: 10px;
  }
  
  .controls-right {
    margin-left: auto;
  }
  
  .state {
    margin: 10px 0;
    font-family: monospace;
  }
  
  .state-title {
    color: #999;
    text-transform: uppercase;
  }

.deleteTable{
  border: 1px solid #ccc;
  display: flex;
  padding-top: 5px;
  padding-bottom:5px;
  justify-content: center;
  cursor: pointer;
}
.deleteTable button{
  padding-left: 1vw;
}


.columnsIcons{
  position: relative;
  left: 160px;
  display: flex;
  /* justify-content: center; */
  padding-top: 5px;
  padding-bottom:5px;
}

.icons{
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
}

.mono {
  border: 1px solid #000000;
  border-radius: 6px;
  background-color: #eeeeee;
  padding: 4px;
}

.text_icons {
  display: flex;
  flex-direction: row;
 
}

.container_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5px;
  padding-bottom:5px;
}

.container_buttons button {
  margin-left: 10px;
  margin-right: 10px;
}

.link {
  text-decoration: revert;
  color: revert;
  cursor: revert;
}

.button_open_file_manager {
  position: absolute;
  top: 31.5vh;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
