.logosList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logosList img {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

.chc {
    width: 12vw;
    height: auto;
}

.ght{
    width: 6vw;
    height: auto;
}