.logosList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 17vh;
    
}

.logosList img {

    margin-left: 2vw;
    margin-right: 2vw;
    cursor: pointer;
}

.chc {
    width: 12vw;
    height: auto;
}

.ght{
    width: 6vw;
    height: auto;
}