.container_dialog{
    position: fixed; /* Pour le positionnement absolu par rapport à la fenêtre */
    top: 0; /* Placez-le en haut */
    left: 0; /* Placez-le tout à gauche */
    width: 100%; /* Prenez toute la largeur de l'écran */
    height: 100%; /* Prenez toute la hauteur de l'écran */
    background-color: rgba(0, 0, 0, 0.5); /* Un fond semi-transparent */
    display: flex; /* Pour centrer son contenu */
    justify-content: center; /* Pour centrer horizontalement */
    align-items: center; /* Pour centrer verticalement */
    z-index: 9999; /* Pour placer cet élément au-dessus de tout le reste */
  
}

.dialog{
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    background-color: white;
    position: absolute;
    z-index: 2;
    padding: 5vh 5vw 5vh 5vw;
    margin-bottom: 20vh;
    border: 2px solid white;
    border-radius: 20px;
}

.dialog h2 {
    font-size: large;
    font-weight: bold;
    margin-bottom: 2vh;
    text-align: center;
}

.container_input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container_input input {
    border: 2px solid black;
    border-radius: 10px;
    padding: 1vh 1vw 1vh 1vw;
    margin: 1vh 1vw 1vh 1vw;
    width: 11vw;
}

.container_input input:disabled {
    background-color: rgba(255, 255, 255, 0.616);
    border: 2px solid rgb(236, 236, 236);
    color: rgba(0, 0, 0, 0.3);
}

.container_input h3 {
    font-size: large;
    font-weight: bold;
    padding: 1vh 1vw 1vh 1vw;
}

.container_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.container_buttons button {
    border : 2px solid black;
    border-radius: 10px;
    padding: 1vh 1vw 1vh 1vw;
    margin-left: 5%;
    margin-right: 5%;
}

